@model WEB_MVC.Models.CartModel

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cart</h4>
        <hr />

       

        <div class="form-group">
            <label asp-for="Product.ProductName" class="control-label"></label>
            <select asp-for="ProductId" asp-items="@ViewBag.Products" class="form-select">
                <option disabled selected>-- Select Product -- </option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="User.UserName" class="control-label"></label>
            <select asp-for="UserId" asp-items="@ViewBag.Users" class="form-select">
                <option disabled selected>-- Select User -- </option>
            </select>
        </div>


        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <!-- Other form fields... -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
